.about {
  .section-title {
    // color: #FF6E9F;
    font-size: 26px;
    font-weight: 100;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  }
}
