.feature {
  p {
    padding:0 50px;
  }
}
.feature-image {
  width: 60%;
}

.feature-title-box {
  position: relative;
}
.feature-title {
  font-family: Futura-Medium;
  font-size: 20px;
  color: #917783;
  letter-spacing: 8px;
}

.feature-num {
  font-family: Futura-CondensedExtraBold;
  font-size: 40px;
  color: #917783;
  position: absolute;
  top: 38px;
  bottom: 0;
  left: 0;
  right: 0;
}

.feature-sub-title {
  font-family: Futura-Medium;
  font-size: 27px;
  color: #FC6D9B;
    &:after {
    width: 10em;
    margin: .3em auto;
    border-bottom: 2px dotted #FF6E9F;
    display: block;
    content: '';
  }
}


// /* background: */
// background: #F9F9F9;
// /* LOVE MOMOKO: */
// font-family: Futura-Medium;
// font-size: 27px;
// color: #917783;
// letter-spacing: 0px;
// /* Mask: */
// background: #D8D8D8;
// /* 20160322-23@三重旅行♡_7950: */
// /* 03: */
// font-family: Futura-CondensedExtraBold;
// font-size: 27px;
// color: #917783;
// letter-spacing: 2px;
// /* FEATURE: */
// font-family: Futura-Medium;
// font-size: 20px;
// color: #917783;
// letter-spacing: 8px;
// /* 誰よりも桃子を愛する気持ちでデートを楽し: */
// font-family: YuGo-Medium;
// font-size: 18px;
// color: #917783;
// letter-spacing: 0px;
// /* GENTLEMAN: */
// font-family: Futura-Medium;
// font-size: 27px;
// color: #917783;
// letter-spacing: 0px;
// /* Mask: */
// background: #D8D8D8;
// /* man-with-a-bouquet-of-roses-picjumbo-com のコピー: */
// /* 02: */
// font-family: Futura-CondensedExtraBold;
// font-size: 27px;
// color: #917783;
// letter-spacing: 2px;
// /* FEATURE: */
// font-family: Futura-Medium;
// font-size: 20px;
// color: #917783;
// letter-spacing: 8px;
// /* リッツカールトンも認めるホスピタリティで: */
// font-family: YuGo-Medium;
// font-size: 18px;
// color: #917783;
// letter-spacing: 0px;
// /* パーティピーポーで有名なYUYAがあなた: */
// font-family: YuGo-Medium;
// font-size: 18px;
// color: #917783;
// letter-spacing: 0px;
// /* PARTY PEOPLE: */
// font-family: Futura-Medium;
// font-size: 27px;
// color: #917783;
// letter-spacing: 0px;
// /* Mask: */
// background: #D8D8D8;
// /* festival-hands-up-people-partying-picjumbo-com: */
// /* 01: */
// font-family: Futura-CondensedExtraBold;
// font-size: 27px;
// color: #917783;
// letter-spacing: 2px;
// /* FEATURE: */
// font-family: Futura-Medium;
// font-size: 20px;
// color: #917783;
// letter-spacing: 8px;
// /* 今回のスペシャルデートは世界的に有名なY: */
// font-family: YuGo-Medium;
// font-size: 18px;
// color: #917783;
// letter-spacing: 0px;
// /* Line: */
// border: 1px solid #FF6E9F;
// /* WHO IS YUYA?: */
// font-family: Code-Light;
// font-size: 32px;
// color: #000000;
// letter-spacing: 10px;
