.message2 {
  position: relative;
  background-image: image-url("message2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 5% 0 30%;
  /* Rectangle: */
  .mask-pink {
    background-color: #DA8B8B;
    opacity: 0.35;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .title {
    font-size: 2em;
    color: #A27F7F;
    letter-spacing: 3.21px;
    line-height: 2em;
    font-weight: 100;
  }
}

