.message2 {
  background-image: image-url("message2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 5% 0 30%;

  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .title {
    font-size: 2em;
    color: #A27F7F;
    letter-spacing: 3.21px;
    line-height: 2em;
    font-weight: 100;
  }

  @media (max-width: 767px) {
    .mask {
      background-color: rgba(0,0,0,0.3);
    }

    .title {
      color: #fff;
      font-size: 20px;
      line-height: 2em;
    }
  }
}

