/* about: */
/* Rectangle 3: */
.message1 {
  position: relative;
  background-image: image-url("woman.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 160px 0;
  /* Rectangle: */
  .mask-pink {
    background-color: #DA8B8B;
    opacity: 0.35;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .bg-white-blur {
    background-image: image-url("bg-white-blur.png");
      background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .title {
    // /* 人生で一番記憶に残る、 最高の一日を一緒: */
    font-family: HiraMinProN-W3;
    font-size: 40px;
    color: #A27F7F;
    letter-spacing: 15px;
    line-height: 1.8;
    text-align: left;
    span.pink {
      color: #EF6F75;
    }
    span.blue {
      color: #42A2D0;
    }
  }
}



