// /* Mask: */
// background: #D8D8D8;
// /* iphone-6-in-girls-hands-picjumbo-com: */
// /* RecruitLogo: */
// /* BlurCover: */
// opacity: 0.8;


.recommend-image {
  width: 100%;
}

.recommend-title {
  font-family: YuGo-Medium;
  font-size: 21px;
  color: #555555;
}
