.recommend {
  position: relative;
  overflow: hidden;
  /* Rectangle: */
  .inner-mask-white {
    width: 90%;
    background-color: #fff;
    opacity: 0.65;
    margin: 70px auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.recommend-image {
  width: 100%;
}

.recommend-title {
  font-family: YuGo-Medium;
  font-size: 21px;
  color: #555555;
  line-height: 1.5em;
}
