
<div id="wrapper">
  <header id="header"></header>

  <section id="keyvisual" class="keyvisual">
    <div class="mask-pink"></div>
    <div class="container">
      <div class="catchcopy relative">
        <h1 class="hide-xs">明日、君は世界一幸せになる。</h1>
        <h1 class="show-xs">明日、君は<br>世界一幸せになる</h1>
        <!-- <h4>日々の暮らしをちょっと豊かに。食と美容と健康と。<br>日々の暮らしをちょっと豊かに。食と美容と健康と。</h4> -->
      </div>
      <div class="scroll">
        SCROLL
        <br>
        <a href="#about">
          <img src="./images/arrow-bottom.png" height="30">
        </a>
      </div>
      <!-- <a href="#">おでかけする</a> -->
    </div>
<!--     <div class="keyvisual__body container pull-left">
      <div class="row block margin-top-80">
        <h1 class="title">Momoko Birthday Date</h1>
        <h5>一緒に最高の一日を過ごそう</h5>
        <div class="margin-top-40">
          <a class="entry_button btn-pink" href="#">おでかけする</a>
          <h5 class="margin-top-20">10月29日(土) PM12:00</h5>
        </div>
      </div>
    </div> -->
  </section>

  <section id="about" class="section bg-color-white">
    <div class="row block text-center margin-0">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <div class="section-title">WHAT'S DATE?</div>
        <p>
          桃子の記念すべき24歳の誕生日をお祝いするべく、YUYAがプロデュースするデートです。<br>
          これまでに行ったことのない場所や、普段行く事のできない所へ一緒にいきませんか？<br>
          最高の一日になる事を約束します。</p>
      </div>
    </div>
  </section>

  <section id="message1" class="section message1 text-right">
    <div class="shadow-mask-white"></div>

    <div class="title pull-right">人生で一番<span class="pink">記憶に残る</span>、<br><span class="blue">最高の一日</span>を一緒に過ごそう。</div>
  </section>



  <section id="feature" class="section feature bg-color-green">
    <div class="row block text-center margin-0">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <div class="section-title">WHO IS YUYA?</div>
        <p>
          今回のスペシャルデートは世界的に有名なYUYAがプロデュースします。</p>
      </div>
    </div>
    <div class="container">
      <div class="row margin-0">
        <div class="col-xs-12 col-md-4 text-center padding-right">
          <div class="feature-title-box">
            <div class="feature-title margin-bottom-40">FEATURE</div>
            <div class="feature-num">01</div>
          </div>
          <img class="feature-image img-radius margin-bottom-20" src="./images/party.png">
          <div class="feature-sub-title margin-bottom-10">PARTY PEOPLE</div>
          <p>パーティピーポーで有名なYUYAがあなたの笑顔を引き出し続けます。</p>

        </div>
        <div class="col-xs-12 col-md-4 margin-top-sm-60 text-center">
          <div class="feature-title-box">
            <div class="feature-title margin-bottom-40">FEATURE</div>
            <div class="feature-num">02</div>
          </div>
          <img class="feature-image img-radius margin-bottom-20" src="./images/gentleman.png">
          <div class="feature-sub-title margin-bottom-10">GENTLEMAN</div>
          <p>リッツカールトンも認めるホスピタリティで桃子をエスコートします。</p>

        </div>

        <div class="col-xs-12 col-md-4 margin-top-sm-60 text-center">
          <div class="feature-title-box">
            <div class="feature-title margin-bottom-40">FEATURE</div>
            <div class="feature-num">03</div>
          </div>
          <img class="feature-image img-radius margin-bottom-20" src="./images/love_momoko.png">
          <div class="feature-sub-title margin-bottom-10">LOVE MOMOKO</div>
          <p>誰よりも桃子を愛する気持ちでデートを楽しくします。</p>
        </div>
      </div>
    </div>
  </section>

  <section id="message2" class="section message2 text-center font-size-03-xs">
  <div class="title font-size-1-sm">24歳の誕生日おめでとう。<br/>
    今年の誕生日はももの人生で<br/>
    一番記憶に残る誕生日になると良いな。<br/>
    最高の一日を楽しもう。
  </div>
  </section>

  <section id="recommend" class="section bg-color-pink recommend padding-top-70">
    <div class="inner-mask-white"></div>
    <div class="row block text-center margin-0">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <div class="section-title">RECOMMEND</div>
        <p>
          こんな方にオススメ</p>
      </div>
    </div>
    <div class="container padding-bottom-65">
      <div class="row margin-0">
        <div class="col-xs-12 col-md-4">
          <img class="recommend-image margin-bottom-20" src="./images/work-rec.png">
          <div class="margin-bottom-10 recommend-title underline">日々の仕事の疲れを<br>癒やしたい方</div>
          <p>毎日頑張りすぎていませんか？今日くらいはお休みして癒やされましょう。</p>

        </div>
        <div class="col-xs-12 col-md-4 margin-top-sm-60">

          <img class="recommend-image margin-bottom-20" src="./images/driving.jpg">
          <div class="margin-bottom-10 recommend-title underline">普段行かない特別な場所に<br>行きたい方</div>
          <p>いつでも行けそうなデートスポットに飽きていませんか？特別な場所に行きましょう。</p>

        </div>

        <div class="col-xs-12 col-md-4 margin-top-sm-60">

          <img class="recommend-image margin-bottom-20" src="./images/yuya_momoko.jpg">
          <div class="margin-bottom-10 recommend-title underline">YUYAと1秒でも長く<br>一緒にいたい方</div>
          <p>YUYAの事、好きですよね。飽きるまで、ずっと一緒に過ごしましょう。</p>
        </div>
      </div>
    </div>
  </section>

  <section id="message3" class="section message3 text-left">
    <div class="mask-purple"></div>
    <div class="title">何歳になっても<br/>
      ずっと一緒にいよう
    </div>
  </section>

  <section id="contents" class="section contents bg-color-white">
    <div class="row block text-center margin-0">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <div class="section-title">CONTENTS</div>
        <p>当日は桃子専用特別コンテンツを用意しています。</p>
      </div>
    </div>
  </section>
  <section class="contents bg-color-green">
    <div class="flex block-sm clearfix">
      <div class="col-md-6 col-xs-12 image-container relative">
        <div class="absolute-fill background-center" style="background-image: url(./images/chef.jpg);"></div>
      </div>
      <div class="col-md-6 col-xs-12 padding-30-sm padding-60 text-center">
        <div class="title-green">Lunch made<br>by Yuya's Kitchen</div>
        <div class="inner padding-right-30 padding-left-30 padding-right-0-sm padding-left-0-sm">
          <p>桃子のために裕哉が料理を振る舞います。</p>
        </div>
      </div>
    </div>
  </section>

    <section class="contents bg-color-lightgreen">
    <div class="flex block-sm clearfix">
      <div class="col-md-6 col-md-push-6 col-xs-12 image-container relative">
        <div class="absolute-fill background-center" style="background-image: url(./images/colorful-aquarium.jpg);"></div>
      </div>
      <div class="col-md-6 col-md-pull-6 col-xs-12 padding-30-sm padding-60 text-center">
        <div class="title-blue">Date at your<br>First-ever spot</div>
        <div class="inner padding-right-30 padding-left-30 padding-right-0-sm padding-left-0-sm">
          <p>まだ二人で一緒に行ったことがないデートスポットに行こう。</p>
        </div>
      </div>
    </div>
  </section>


    <section class="contents bg-color-pink">
    <div class="flex block-sm clearfix">
      <div class="col-md-6 col-xs-12 image-container relative">
        <div class="absolute-fill background-center" style="background-image: url(./images/glasses.jpg);"></div>
      </div>
      <div class="col-md-6 col-xs-12 padding-30-sm padding-60 text-center">
        <div class="title-red">Secret Contents<br>for Momoko</div>
        <div class="inner padding-right-30 padding-left-30 padding-right-0-sm padding-left-0-sm">
          <p>一緒に</p>
        </div>
      </div>
    </div>
  </section>
  <!--   <div class="container">
      <div class="row margin-0 padding-bottom-40 relative">
        <div class="col-xs-12 col-md-7">
          <img class="" src="./images/kitchen.jpg">
        </div>
        <div class="col-xs-12 col-md-5 title-box-right text-center padding-top-100 relative">
          <div class="text-blur-white"></div>
          <div class="title-header">
            LUNCH
          </div>
          <div class="title">Lunch box made<br>by Yuya’s Kitchen</div>
        </div>
      </div>

      <div class="row margin-0 padding-bottom-40 relative">
        <div class="col-xs-12 col-md-5 col-md-push-5">
          <img class="" src="./images/aqualium.jpg">
        </div>
        <div class="col-xs-12 col-md-7 col-md-pull-7 title-box-left text-center padding-top-100">
          <div class="title-header">
            DATE
          </div>
          <div class="title text-center">Enjoy date<br>for first time spot</div>
        </div>
      </div>

      <div class="row margin-0 padding-bottom-40 relative">
        <div class="col-xs-12 col-md-7">
          <img class="" src="./images/glasses.jpg">
        </div>
        <div class="col-xs-12 col-md-5 title-box-right text-center padding-top-100">
          <div class="title-header">
            DINNER
          </div>
          <div class="title">Secret<br>Special Dinner</div>
        </div>
      </div>
    </div> -->
  </section>


  <section id="conversion" class="section conversion">
    <div class="mask-dark"></div>
    <div class="container">
    <div class="row block">
    <div class="col-xs-12 text-center">
      <div class="title">さあ、一緒に最高の一日を過ごそう</div>
    </div>
    <div class="col-xs-12 margin-top-30 text-center">
      <div class="margin-top-60">
        <a class="entry_button btn-pink" href="#">おでかけする</a>
      </div>
    </div>
  </section>
  <section id="detail" class="detail section bg-color-white">
    <div class="row block text-center margin-0">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
        <div class="section-title">DETAIL</div>
      </div>
    </div>


    <div class="container">
      <div class="row margin-0">
        <div class="col-xs-12 col-md-5">
          <div class="col-xs-12">
            <div class="margin-bottom-10">■ 開催日時</div>
            <p>2016年10月29日 12:00〜</p>
          </div>
          <div class="col-xs-12 margin-top-60">
            <div class="margin-bottom-10">■ 服装</div>
            <p>・カジュアルな服装</p>
            <p>・ドレスコードを別途ご持参ください</p>
            <p>・お泊りセット♡</p>
          </div>
        </div>

        <table class="small col-xs-12 col-md-7 margin-top-sm-60">
          <tbody>
            <tr>
              <th class="col-xs-3 vertical-align-middle">
              <p>12:00 -</p>
              </th>
              <td class="col-xs-9">
                <div class="title line-height-middle">自宅出発</div>
              </td>
            </tr>

            <tr>
              <th class="col-xs-3 vertical-align-middle">
              <p>13:00 - 14:00</p>
              </th>
              <td class="col-xs-9">
                <div class="title line-height-middle">ランチ</div>
              </td>
            </tr>

            <tr>
              <th class="col-xs-3 vertical-align-middle">
              <p>14:00 - 17:00</p>
              </th>
              <td class="col-xs-9">
                <div class="title line-height-middle">二人で行く初めてのデートスポット</div>
              </td>
            </tr>

            <tr>
              <th class="col-xs-3 vertical-align-middle">
              <p>17:00 - 18:30</p>
              </th>
              <td class="col-xs-9">
                <div class="title line-height-middle">お散歩</div>
              </td>
            </tr>

            <tr>
              <th class="col-xs-3 vertical-align-middle">
              <p>18:30 - 20:00</p>
              </th>
              <td class="col-xs-9">
                <div class="title line-height-middle">休憩</div>
              </td>
            </tr>

            <tr>
              <th class="col-xs-3 vertical-align-middle">
              <p>20:00 -</p>
              </th>
              <td class="col-xs-9">
                <div class="title line-height-middle">Secret</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <footer id="footer" class="footer">Copyright © 2016 Yuya Inc.All rights reserved.</footer>
</div>


